<%= render 'shared/header' %>
<%= render 'shared/nav' %>


<div class="content-pages" id="edit-trip-page">
  <div class="container" id="main-content">
    <div class="row">
      <div class="col-lg-12">
        <h2>Edit Trip</h2>

        <p>
          <%= link_to('New Trip', trip_plans_new_path, class: 'btn btn-default submit-button') %>
          <%= link_to('Optimize Trip', trip_plans_guest_planner_output_path, class: 'btn btn-default', id: 'optimize-button') %>
        </p>
        <%= form_for :trip, url: trip_plans_guest_update_path, html: {id: 'new-trip-form'}, method: :patch do |f| %>
            <p>
              <%= f.submit 'Save Changes', :class => 'btn btn-default save-button' %>
            </p>

            <p class="trip-form">
              <%= f.label :destination_address %><br>
              <%= f.text_field :destination_address %>
            </p>

            <p class="trip-form">
              <%= f.label 'Arrival Time' %><br>
              <%= f.datetime_select :arrival_time %>
            </p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= form_for :trip, :html => {:class => 'trip-form', :multipart => true}, :remote => true do |f| %>
            <%= f.label 'Upload list of travellers' %>
            <%= f.file_field :traveller_csv, id: 'csv-field' %>
            <%= f.submit 'Upload', class: 'btn btn-default submit-button' %>
        <% end %>
      </div>
    </div>
    <div id="driver-message" class="alert" style="display: none"></div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Drivers</h3>
        <table id="drivers-table" class="table">
          <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Vehicle Capacity</th>
          </thead>
          <tbody>
          <% @trip.travellers.each do |t| %>
              <% if t.type == 'Driver' %>
                  <tr id="traveller-<%= t.id %>">
                    <td><a href="#" id="name-<%= t.id %>"> <%= t.name %> </a></td>
                    <td><a href="#" id="email-<%= t.id %>"> <%= t.email %> </a></td>
                    <td><a href="#" id="address-<%= t.id %>"> <%= t.address %> </a></td>
                    <td><a href="#" id="number_of_passengers-<%= t.id %>"> <%= t.number_of_passengers %> </a></td>
                    <td>
                      <a href="destroy_traveller/<%= t.id %>" data-remote="true" data-method="delete" onclick="removeRow(<%= t.id %>)">Delete</a>
                    </td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div id="passenger-message" class="alert" style="display: none"></div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Passengers</h3>
        <table id="passengers-table" class="table">
          <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          </thead>
          <tbody>
          <% @trip.travellers.each do |t| %>
              <% if t.type == 'Passenger' %>
                  <tr id="traveller-<%= t.id %>">
                    <td><a href="#" id="name-<%= t.id %>"> <%= t.name %> </a></td>
                    <td><a href="#" id="email-<%= t.id %>"> <%= t.email %> </a></td>
                    <td><a href="#" id="address-<%= t.id %>"> <%= t.address %> </a></td>
                    <td>
                      <a href="destroy_traveller/<%= t.id %>" data-remote="true" data-method="delete" onclick="removeRow(<%= t.id %>)">Delete</a>
                    </td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag 'initEditable('+ @trip.travellers_ids_to_json + ')' %>