<%= render 'shared/header' %>
<%= render 'shared/nav' %>


<div class="content-pages">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Sign in to view your trips</h3>
        <%= link_to('Login', new_user_session_path, html_options = {class: 'btn btn-default'}) %>
        <%= link_to('Create Account', new_user_registration_path, html_options = {class: 'btn btn-default'}) %>
        <%= link_to('Continue as Guest', trip_plans_choose_path, html_options = {class: 'btn btn-default'}) %>
      </div>
    </div>
  </div>
</div>
</html>