<%= render 'shared/header' %>
<%= render 'shared/nav' %>


<div class="content-pages" id="edit-trip-page">
  <div class="container" id="main-content">
    <h2>New Trip</h2>

    <div class="row">
      <div class="col-lg-12">
        <%= form_for :trip, url: trip_plans_path, html: {id: 'new-trip-form'} do |f| %>
            <p>
              <%= f.submit 'Create Trip', :class => 'btn btn-default submit-button' %>
            </p>

            <p class="trip-form">
              <%= f.label :destination_address %><br>
              <%= f.text_field :destination_address %>
            </p>

            <p class="trip-form">
              <%= f.label 'Arrival Time' %><br>
              <%= f.datetime_select :arrival_time %>
            </p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <%= form_for :trip, :html => {:class => 'trip-form', :multipart => true}, :remote => true do |f| %>
            <%= f.label 'Upload list of travellers' %>
            <%= f.file_field :traveller_csv, id: 'csv-field' %>
            <%= f.submit 'Upload', class: 'btn btn-default submit-button' %>
        <% end %>
      </div>
    </div>
    <div id="driver-message" class="alert" style="display: none"></div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Drivers</h3>
        <table id="drivers-table" class="table">
          <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          <th>Vehicle Capacity</th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
    <div id="passenger-message" class="alert" style="display: none"></div>
    <div class="row">
      <div class="col-lg-12">
        <h3>Passengers</h3>
        <table id="passengers-table" class="table">
          <thead>
          <th>Name</th>
          <th>Email</th>
          <th>Address</th>
          </thead>
          <tbody>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>