<%= render 'shared/nav' %>
<%= render 'shared/header' %>

<div class="content-section-b content-pages">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <h2 class="section-heading">Getting Started with RideOrganizer</h2>
        <div class="clearfix"></div>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Beginning Your Session</h2>
        <p class="lead">Whether it's creating a trip for a club or setting up a trip for school, RideOrganizer makes it easy to co-ordinate and plan trips accordingly.</p>
        <p class="lead">Navigate to the trips page by clicking the <strong>GET STARTED</strong> button on the homepage, or <strong>trips</strong> in your navigation bar.</p>
        <p class="lead">You will be forwarded to a page with three instructions:</p>
        <%= image_tag 'help/GetStarted.png', :alt => 'Get Started', :class => 'img-responsive help-image' %>
        <p class="description-paragraph"><strong>Login</strong> will allow you to login to a created account and access any trips you have saved.</p>
        <ul>
          <li><p class="lead">Forgotten passwords can be retrieved on the login page using the <strong>Forgot your password?</strong> link.</p></li>
        </ul>
        <p class="description-paragraph"><strong>Create Account</strong> directs you to the account creation page. Upon completion of creating an account you will be automatically logged in.</p>
        <p class="lead">If you chose to login you will be presented with the option to <strong>Edit</strong> or <strong>Delete</strong> existing trips, or create a <strong>New Trip</strong>. Otherwise you will be presented only with the option to create a <strong>New Trip</strong>.</p>
        <%= image_tag 'help/new-trip.png', :alt => 'Trips Page', :class => 'img-responsive help-image' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="clearfix"></div>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Adding Your Trip Data</h2>
        <p class="lead">All trips must contain a valid <strong>Destination Address</strong> and <strong>Arrival Time</strong>.</p>
        <p class="description-paragraph">Trips must also contain valid sets of <strong>Drivers</strong> and <strong>Passengers</strong>. Drivers and passengers can be added to a trip in two ways:</p>
        <ol>
          <li><p class="description-paragraph">Through a comma separated values (csv) file <strong>Upload</strong>, an example of the required format for the csv is as follows: </p></li>
          <%= image_tag 'help/sample-csv.png', :alt => 'Sample CSV', :class => 'img-responsive help-image csv-image' %>
          <li><p class="description-paragraph">Manual entry</p></li>
          <ul>
            <li><p class="description-paragraph">Adding traveller details manually can be accomplished by clicking the <strong>Empty</strong> tag under each table header. Once all the fields have been filled clicking the <strong>Save</strong> button saves the traveller to the trip.</p></li>
          </ul>
        </ol>
        <p class="lead">Once all data has been entered correctly the trip must either be created using the <strong>Create Trip</strong> button or saved using the <strong>Save Changes</strong> button.</p>
        <p class="lead">The final step necessary prior to recieving your trip output is clicking the <strong>Optimize Trip</strong> button. Optimizing your trip will generate the best driver/passenger pairings and show you the results on a map.</p>
      </div>
    </div>
  </div>
</div>


<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8  col-sm-8">
        <div class="clearfix"></div>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Interpreting Your Optimized Output</h2>
        <p class="lead">The output from your optimized trip will look similar to the following:</p>
        <%= image_tag 'help/trip-output.png', :alt => 'Get Started', :class => 'img-responsive help-image' %>
        <p class="lead">Every planner output page contains the basic details of your trip including; trip destination, travel day, and arrival time.</p>
        <p class="lead">The page also contains an optimized route for every driver. Routes specific to each driver can be viewed by clicking the tab along the map container with the driver's name.</p>
        <p class="description-paragraph">Details specific to each driver's route include:</p>
        <ul>
          <li><p class="description-paragraph">A customized map specific to the driver's route with each green map marker indicating a passenger to be picked up and the red marker indicating the trip's destination.</p></li>
          <li><p class="description-paragraph">A list of passengers the driver is required to pick up.</p></li>
          <li><p class="description-paragraph">Turn by turn directions for each step of the driver's route.</p></li>
        </ul>
        <p class="lead">Routes on the map can be modified by clicking on the route and dragging it to the desired location.</p>
        <p class="lead">The location of map markers can also be altered by dragging them to their desired location.</p>
        <p class="lead">If a route or the location of a map marker is altered the route's directions will be dynamically updated.</p>
        <p class="lead">Should you decide that your trip needs to be edited, clicking the <strong>Edit Trip</strong> button will take you back to the previous page where you may alter your trip's details.</p>
      </div>
    </div>
  </div>
</div>


<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8  col-sm-8">
        <div class="clearfix"></div>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Notifying Travellers</h2>
        <p class="lead">Once you are happy with your trip's output you may now send your travellers the details of their trip. <strong>NOTE: This feature is only available to users who have created and logged into an account!</strong></p>
        <p class="lead">Clicking the <strong>Notify Travellers</strong> button on your trip's output page will send an email to all drivers and passengers outlining the relevant details of their trip. The email sent to your drivers will look similar to the following:</p>
        <%= image_tag 'help/email-output.png', :alt => 'Email Output', :class => 'img-responsive help-image' %>
      </div>
    </div>
  </div>
</div>

<div class="content-section-b">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8  col-sm-8">
        <div class="clearfix"></div>
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Account Management</h2>
        <p class="description-paragraph">The details of your account can be edited anytime by clicking the <strong>account</strong> link in the navigation bar. On the account page you may:</p>
        <ul>
          <li><p class="description-paragraph">Change your email</p></li>
          <li><p class="description-paragraph">Update your password</p></li>
          <li><p class="description-paragraph">Close your account</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
