<%= render 'shared/nav' %>

<p>&nbsp;</p>
<p>&nbsp;</p>

<h2 class="section-heading"> Login!</h2>


<%= form_tag do %>
    Username Login:
<% end %>

<%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Username:") %>
    <%= text_field_tag(:q) %>
<% end %>
<%= form_tag("/search", method: "get") do %>
    <%= label_tag(:q, "Password:") %>
    <%= text_field_tag(:q) %>
    <p>&nbsp;</p>
    <%= submit_tag("Login") %>
<% end %>

